name: 游 Deploy
on:
    push:
        branches:
            - main

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

permissions:
    pages: write
    contents: write

jobs:
    deploy-doc:
        name: 游 Deploy (doc)
        runs-on: ubuntu-latest
        timeout-minutes: 5

        steps:
            - name: 游닌 Checkout repo
              uses: actions/checkout@v4

            - name: 丘뙖잺 Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: npm

            - name: 丘뙖잺 Setup git
              run: |
                git remote set-url origin https://git:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}
                git config --global user.email support+actions@github.com
                git config --global user.name github-actions-bot

            - name: 游닌 Download deps
              run: npm install

            - name: 游댣 Build App
              run: npm run build

            - name: 游댣 Build Registry
              run: make registry-build

            - name: 游댣 Build Documentation
              run: make doc-build

            - name: 游니 Deploy App
              run: make app-deploy

            - name: 游니 Deploy Registry
              run: make registry-deploy

            - name: 游니 Deploy Documentation
              run: make doc-deploy

    deploy-demo:
        name: 游 Deploy (demo)
        runs-on: ubuntu-latest
        timeout-minutes: 10

        steps:
            - name: 游닌 Checkout repo
              uses: actions/checkout@v4

            - name: 丘뙖잺 Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: npm

            - name: 丘뙖잺 Setup git
              run: |
                  git remote set-url origin https://git:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}
                  git config --global user.email support+actions@github.com
                  git config --global user.name github-actions-bot

            - name: 游닌 Download deps
              run: npm install

            - name: 游댣 Build Demo
              run: npm run build:demo
              env:
                  VITE_IS_DEMO: true

            - name: 游니 Deploy Demo to GitHub Pages
              run: npx gh-pages -d dist -b gh-pages-demo
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
